.menu-icon.active svg {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0%,100% {
    color: #404040;
  }
  50% {
    color: #BA8B00;
  }
}

.panel {
  background: white;
  border-radius: 10px;
}

.menu-icon svg {
  font-size: 20px;
}
