<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <title>OctoCNC powered by OctoPrint</title>
  <base href="" />

    <script src="{{ url_for("static", filename="js/lib/jquery/jquery.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/lib/lodash.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/lib/sockjs.js") }}"></script>
    {% assets "js_client" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}

</head>

<body>

  <div class='app'></div>

  <script type="application/json" id="_server_config">{
      "base_uri": "{{ url_for('index') }}",
      "api_key": "{{ uiApiKey|e }}"
  }</script>

  <script src="{{ url_for("plugin.octocnc.static", filename="js/bundle.js") }}"></script>
</body>

</html>
