<div class="input-append">
    <button class="btn btn-primary">My Button</button>
</div>
<object data="{{  url_for("plugin.octocnc.static", filename="imgs/lathe.svg") }}" type="image/svg+xml" id="lathe_control" width="100%" height="100%"></object>
<div>
    {{  url_for("plugin.octocnc.static", filename="imgs/lathe.svg") }}
</div>
